@model IList<string>

<div class="uk-card uk-card-default uk-card-hover uk-card-body">
    @if (Model != null)
    {
        <ul class="uk-list uk-list-divider">
            @foreach (var parameter in Model)
            {
                var columns = parameter.Split(':', 2);
                var display = columns.Length < 2 ? columns[0].Split('.').Last() : columns[0];
                <li><button class="uk-button uk-button-default" data-mighty-button="@columns.Last()">@display</button></li>
            }
        </ul>
    }
</div>
