@model IList<string>

<h3 class="uk-card-title">Hello World</h3>
@if (Model != null)
{
    <p class="uk-text-left">Parameters:</p>
    <ul>
        @foreach (var parameter in Model)
        {
            <li>@parameter</li>
        }
    </ul>
}
