@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div data-uk-grid class="uk-grid-large uk-grid-match uk-child-width-expand uk-text-center">
    <div><div class="uk-card uk-card-default uk-card-hover uk-card-body">Test, where am I?</div></div>
    <div><div class="uk-card uk-card-default uk-card-hover uk-card-body">Test, where am I?</div></div>
</div>
