@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div data-uk-grid class="uk-child-width-expand">
    <div><div class="uk-card">Test, where am I?</div></div>
    <div><div class="uk-card">Test, where am I?</div></div>
</div>
